body{
	margin: 0px;
	background-color: #35495e;
	overflow-x: hidden;
}
header {
	width: 100vw;
	height: 5vw;
	background-color: #35495e;
	position: fixed;
	top: 0px;
	z-index: 1;
	border-bottom: 0.1vw #41b883 solid;
	float: left;
}
.logo {
	float: left;
	margin-top: 1vw; 
	margin-left: 2vw;
	background-image: url(../img/dumbell.png);
	background-size: 3vw 3vw;
	width: 3vw;
	height: 3vw;
}
.nav {
	float: left;
	margin-left: 12vw;
	color: #41b883;
	margin-top: 1.3vw;
	font-size: 1.3vw;
	font-family: 'Roboto Slab', sans-serif;
}
.tag_name {
	float: left;
	margin-top: 1vw;
	margin-left: 2vw;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1.5vw;
	color: #41b883;
	font-weight: 700;
}
li {
	display: inline;
	margin-left: 2.4vw;
	padding-bottom: 0.6vw;
	cursor: pointer;
}
li:hover {
	border-bottom: #41b883 solid 0.2vw;
}
a {
	text-decoration: none;
	color: #41b883;
}
#s{
	display: none;
}
#t{
	display: none;
}
#f{
	display: none;
}
footer{
	float: left;
	width: 100vw;
	height: 12vw;
	background-image: url(../img/footer.png);
	background-size: 100vw 32vw;
	background-position: center;
	margin-top: 5vw;
}
.bftrm{
	width: 58.625vw;
	float: left;
	margin-top: 2.125vw;
	margin-left: 4vw;
	font-family: sans-serif;
}
.bftrst{
	width: 16.5825vw;
	float: left;
	margin-right: 1.59375vw;
}
.bftrsttag{
	float: left;
	color: white;
	text-align: left;
	font-size:  0.8625vw;
	font-weight: 900;
}
.address{
	background-image: url(../img/address.png);
	background-repeat: no-repeat;
	background-size: 0.7368vw 1vw;
	float: left;
	margin-top: 2vw;
	width: 16.5825vw;
	height: 1.50vw;
	padding-left: 1vw;
	color: white;
	font-weight: 900; 
	font-size: 1vw
}
.tele{
	background-image: url(../img/tele.png);
	background-repeat: no-repeat;
	background-size: 0.875vw 0.875vw;
	float: left;
	margin-top: 2vw;
	width: 16.5825vw;
	height: 1.50vw;
	padding-left: 1vw;
	color: white;
	font-weight: 900;
	font-size: 1vw
}
#map {
	width: 16vw;
	height: 9vw;
	float: left;
	margin-top: 1.5vw;
	margin-left: 1.5vw;
}
.mainform{
	width: 60vw;
	height: 40vw;
	float: left;
	margin-left: 20vw;
	margin-top: 8vw;
	background-color: #727f8050;
	border-radius: 1vw;
}